<%- include("../layouts/profileList")  %>


<div class='col-md-8 p-5 right' style=" border-radius:0;">

  <% if (orders.length > 0) { %>
    <% orders.forEach(order => { %>
      <div class="card mb-3">
        <div class="card-header">
          Order ID: <%= order._id %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Order Date: <%= order.createdAt.toDateString() %></h5>
          <% order.items.forEach(item => { %>
            <div class="media">
              <img src="<%= item.productId.image %>" class="mr-3" alt="<%= item.productName %>">
              <div class="media-body">
                <h5 class="mt-0"><%= item.productName %></h5>
                <p>Price: $<%= item.totalPrice %></p>
                <p>Quantity: <%= item.quantity %></p>
                <p>Delivery Status: <%= order.status %></p> <!-- Assuming you have a status field in your Order model -->
              </div>
            </div>
            <hr>
          <% }) %>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <p>No orders found.</p>
  <% } %>



  


  <!-- profileList end div        -->
</div>
</div>
 <!-- profileList end div        -->

 
<br>
<br>
<%- include("../layouts/mobileNav") %>
<%- include("../layouts/footer")  %>
<%- include("../layouts/footerNav")  %>