<%- include('../layouts/header')  %>
<%- include('../layouts/header2')  %>
<%- include('../layouts/mobileNav')  %>


<style>

    .shop-bar{
        width: 100%;
        height: 85px;
        background-color: #333333;
    }.title{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
    /* .row{
        display: flex;
        align-items: center;
        justify-content: baseline;
    } */
    .dropbtn {
        background-color: #d4d0d0;
        color: rgb(0, 0, 0);
        font-size: 16px;
        border: none;
        cursor: pointer;
  
    }

        /* The container <div> - needed to position the dropdown content */
        .drop {
        position: relative;
        display: inline-block;

        }

        /* Drop Content (Hidden by Default) */
        .drop-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        /* Links inside the drop */
        .drop-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        /* Change color of drop links on hover */
        .drop-content a:hover {background-color: #ccc5c5}

        /* Show the drop menu on hover */
        .drop:hover .drop-content {
        display: block;
        }

        /* Change the background color of the drop button when the drop content is shown */
        .drop:hover .dropbtn {
        background-color: #908e8e;
        }
        .pop{
            margin-bottom: 20px;
        }

</style>



   
      <div class="shop-bar"></div>
                       
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- <div class="drop">
                    <br>
                    <button class="dropbtn">Category</button>
                    <div class="drop-content">
                        <a href="/shop?sortby=allCategory">All Categories</a>
                        <% categories.forEach(category => { %>
                            <a href="/shop?sortby=<%= category._id %>"><%= category.name %></a>
                        <% }); %>
                    </div>
                </div> -->
                

                <div class="drop">
                    <br>
                    <button class="dropbtn">Sort</button>
                    <div class="drop-content">
                        <a href="/shop?sortby=allCategory">All Products</a>
                        <a href="/shop?sortby=latest">Latest</a>
                        <a href="/shop?sortby=alphabetical">Aa-Zz</a>
                        <a href="/shop?sortby=analphabetic">Zz-Aa</a>
                    </div>
                </div>

                <div class="drop">
                    <br>
                    <button class="dropbtn">Price</button>
                    <div class="drop-content">
                        <a href="/shop?sortby=lowToHigh">Price: Low to High</a>
                        <a href="/shop?sortby=highToLow">Price: High to Low</a>
                    </div>
                </div>
                
              
              
              
              <h2 class="title">All Catagory</h2>
              <button class="pop">Popularity</button>
                <div class="products-container mb-7">

                    <div class="row justify-content-center">

                     <!-- sorting and list and unlist code -->
                    <% locals.products.forEach(element => { %>
                        
                
                        <div class="col-6 col-md-4" >
                            <div class="product product-4">
                                <figure class="product-media">

                                    <!-- passing query  -->
                                    <a href="/productDetails?id=<%= element._id %>">
                                        <img src="/uploads/<%= element.image[0] %>" alt="Product image" class="product-image1">
                                        <img src="/uploads/<%= element.image[1] %>" alt="Product image" class="product-image-hover">
                                    </a>

                                        <!-- Add to Wishlist Button -->
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable" onclick="addToWishlist()"><span>add to wishlist</span></a>
                                    </div>

                                    <!-- Add to Cart Button -->
                                    <div class="product-action" style="z-index: 0;">
                                        <a href="#" class="btn-product btn-cart" onclick="addToCart()">
                                            <span>Add to Cart</span>
                                        </a>
                                    </div>
                                </figure>

                                <div class="product-body">
                                    <!-- <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div> -->
                                    <%= element.category?.name   %>
                                    <h3 class="product-title"><a href="product.html"><%= element.name %></a></h3>
                                    <div class="product-price" >
                                        ₹<%= element.offerPrice %>
                                        <!-- ₹<%= element.price %> -->
                                        
                                    </div>
                                    <!-- <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                  <%  }); %>
                       
                        


                    </div>

                  
                </div>
            </div>

          
        </div><!-- End .row -->

      
    </div><!-- End .container -->



        <!-- sweetalert message -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function addToCart() {
                Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Item added to cart successfully",
                    text: 'Item added to cart successfully.',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                    popup: 'alert-modal-container'
                }
                });
            }
        
            function addToWishlist() {
                Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Item added to wishlist successfully",
                    text: 'Item added to wishlist successfully.',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                    popup: 'alert-modal-container'
                }
                });
            }
        </script>
    


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchForm = document.getElementById('searchForm');
            searchForm.addEventListener('submit', function (event) {
                event.preventDefault();
                const query = document.getElementById('q').value.trim();
                if (query !== '') {
                    window.location.href = `${searchForm.getAttribute('action')}?q=${encodeURIComponent(query)}`;
                }
            });
        });
    </script>


<%- include('../layouts/footerNav')  %>
<%- include('../layouts/footer')  %>

