<%- include('../layouts/header')  %>
<%- include('../layouts/header2')  %>




    <div class="page-wrapper">
        <header class="header">
        
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>


                    </div><!-- End .header-left -->

                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

		<br><br><br>
        <main class="main">
            <br>
             <ol class="breadcrumb" style="margin-left: 20px;">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        	<div class="page-header text-center" style="background-image: url('user/assets/images/new/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                  
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Stock Status</th>
								<th></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<% wishlist.forEach((wishlist, cartIndex) => { %>
								<% wishlist.products.forEach((product, productIndex) => { %>
									<tr>
										<td class="product-col">
											<div class="product">
												<figure class="product-media">
													<a href="/productDetails?id=<%= product.productId._id %>">
														<!-- Use product image here -->
														<img src="/uploads/<%= product.productId.image[0] %>" alt="Product image">
													</a>
												</figure>
						
												<h3 class="product-title">
													<!-- Access product name -->
													<a href="/productDetails?id=<%= product.productId._id %>"><%= product.productId.name %></a>
												</h3><!-- End .product-title -->
											</div><!-- End .product -->
										</td>

										<td class="price-col">₹<%= product.productId.offerPrice %></td>
										<td class="quantity-col">
											<div class="cart-product-quantity">

												<!-- Input for quantity -->
												<input type="number" class="form-control" value="<%= product.quantity %>" min="1" max="10" step="1" data-decimals="0" required>
												
											</div><!-- End .cart-product-quantity -->
										</td>
										<td class="total-col">₹<%= product.productId.offerPrice * product.quantity %></td>
										

										<!-- Button to remove the product from the cart -->
										<td class="remove-col">
											<button class="btn-remove" onclick="removeFromCart('<%= wishlist_id %>', '<%= product.productId._id %>')"><i class="icon-close"></i></button>
										</td>
										
									</tr>
								<% }) %>
							<% }) %>
						</tbody>

						
					</table><!-- End .table table-wishlist -->
	            	
                    
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

 
  

<%- include('../layouts/footer')  %>
<%- include('../layouts/footerNav')  %>

