<%- include('../layouts/header') %>

<style>
	body, html {
    height: 100%;
}

.login-page {
    min-height: 100vh; /* Ensure that the login page takes at least the height of the viewport */
    display: flex;
    flex-direction: column;
}

.bg-image {
    background-size: cover;
}
footer {
    margin-top: auto; /* Push the footer to the bottom */
}
.otp-input {
        width: 30px;
        height: 40px;
        text-align: center;
        margin: 0 5px;
        font-size: 1.5rem;
		border: 0px;
		border-radius: 5px;
		box-shadow: rgba(4, 126, 40, 0.35) 0px 1px 10px;
    }
	.success-box {
        padding: 10px;
        background-color: #f1343459;
        border: 1px solid #c3e6cb;
        color: #0c0c0c;
        margin-top: 10px;
        display: none;
    }
</style>

<header class="header header-11">
	<div class="header-middle sticky-header">
		<div class="container">
			<div class="header-left">
  
				
				<nav class="main-nav">
					<ul class="menu sf-arrows">
						<li><a href="home">home</a></li>
						
						<li><a href="login" class="sf-with-ul">login</a></li>					   
					</ul><!-- End .menu -->
				</nav><!-- End .main-nav -->
  
			</div><!-- End .header-left -->
  
			<div class="header-center">
				<a  class="logo">
					<img class="victor-logo" src="/user/assets/images/new/Victor-Logo.png"  alt="Molla Logo" width="82" height="25">
				</a>
			</div><!-- End .header-center -->
  
			<div class="header-right">
			
			</div><!-- End .header-right -->
		</div><!-- End .container -->
	</div><!-- End .header-middle -->
  </header><!-- End .header -->
  
  

    <div class="page-wrapper">

         <main class="main">

       	     <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"     
			  style=" background-image: url('/user/assets/images/backgrounds/login-bg.jpg')">

            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active " id="signin-tab-2" data-toggle="tab" href="#" role="tab" aria-controls="signin-2" aria-selected="false">OTP</a>
							    </li>
							</ul>

							<div class="tab-content">
							    <div class="tab-pane show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">

							    	<form id="otpForm" action="/otpVerify" method="post">


							    		<div class="form-group text-center mt-1">

											<label for="otp1"><h4>Enter OTP :</h4></label><br>

							
											<!-- <div class="success-box" id="successBox">
												Verification failed
											</div><br> -->

                                            <input type="text" name="inp1" id="otp1" class="otp-input" pattern="[0-9]" maxlength="1" onkeyup="moveToNext(this, 'otp2')" required> - 
        									<input type="text" name="inp2" id="otp2" class="otp-input" pattern="[0-9]" maxlength="1" onkeyup="moveToNext(this, 'otp3')" required> - 
       										<input type="text" name="inp3" id="otp3" class="otp-input" pattern="[0-9]" maxlength="1" onkeyup="moveToNext(this, 'otp4')" required> - 
        									<input type="text" name="inp4" id="otp4" pattern="[0-9]" class="otp-input" maxlength="1">

											<input type="email" hidden value="<%= queryEmail %>" name="email">

											<br><br>

											<div>
												<p id="timer">

												</p>
											</div>

							    		</div><!-- End .form-group -->

							    		<div class="form-footer justify-content-center ">
											
							    			<button class="btn btn-outline-primary-2" style="margin-left: 20px;" type="submit">
													<span id="verifyBtn">verify</span>
			            						<i class="icon-long-arrow-right"></i>
											</button>

											<div class="justify-content-center" id="button-container" style="display: none;">
                                                <button class="btn btn-outline-primary-2" id="resend-btn" onclick="alerts()" type="submit">
                                                    <a href="/resendOtp?email=<%= queryEmail %>">Resend OTP</a>
                                                </button>
                                            </div>
										
											
							    		</div><!-- End .form-footer -->

							    	</form>
							    	<p class="text-danger"><%=msg  %></p>
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
            
        </main>


 <!-- Connect Footer -->

</div><!-- End .page-wrapper -->


<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<!-- Alert Message to Re-send OTP -->

<script>function alerts() {

	alert("Re-send Otp Has Been Sended Your Email...");

}</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<!--column changing-->

<script>


	// otp column forward 
	function moveToNext(current, nextFieldID) {

		if (current.value.length >= current.maxLength) {

			document.getElementById(nextFieldID).focus();

		}
	}

	document.getElementById("verifyBtn").addEventListener("click", function() {

        var successBox = document.getElementById("successBox");
        successBox.style.display = "block";
		
    });
	
	
	// Resend-OTP Script :-
	
	 const timerDuration = 60;

    function startTimer() {

        let timeLeft = timerDuration;
        const timerElement = document.getElementById("timer");

        const countdown = setInterval(() => {

            timerElement.textContent =`Resend OTP in ${timeLeft} seconds`;

            timeLeft--;

            if (timeLeft < 0) {

                    clearInterval(countdown);
                    document.getElementById("resend-btn").disabled = false;
                    timerElement.textContent = "Resend OTP";

            }

        }, 1000);

    }

    window.onload = startTimer;

	//	Timer For Visible Re-Send Button :-
		
	setTimeout(function() {
		
		document.getElementById('button-container').style.display = 'block';
		
	}, 60000); 

		
	const msg = document.getElementById('msg');
		
	if(msg.textContent == "Invalid OTP...!"){
		
		Swal.fire({
		
			title:'Error',
			text:'Invalid OTP...!',
			icon:'error',
			confirmButtonText: 'OK',
		
		});
				
	} else if (msg.textContent == 'Verified Successfully') {  
		
		Swal.fire({
		
			title:'Success',
			text:'Verified Successfully',
			icon:'success',
			confirmButtonText: 'OK'
		
		}).then(() => {
		
			window.location.href = '/'
		
		});
				
	} else if(msg.textContent == 'Invalid OTP!!!'){
		
		Swal.fire({
		
			title:'Error',
			text:'Invalid OTP...!',
			icon:'error',
			confirmButtonText: 'OK',
		
		});
		
	}

</script>

<%- include('../layouts/footer.ejs') %>